html {
  scroll-behavior: smooth;
  font: italic normal bold 16px/1.5 "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-size: 1em;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #002a55, #00075e);
  margin: 0;
  height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none;
  color: #ffc72c;
  font-weight: 700;
  gap: 10px;
  padding: 5px;
}
.header {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}
.sidenav {
  height: 100%;
  width: 8rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #002a55, #00075e);
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1rem;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav a.active {
  color: #007bff;
  font-weight: 700;
}
.sidenav a.active::after {
  content: "-";
  color: #ffdf00;
}
#edu-card {
  background: linear-gradient(180deg, #002a55, #00075e);
  color: #fff;
  align-self: center;
  border-radius: 10px;
}
.card {
  z-index: 1111;
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  width: min(1100px, 80vw);
  padding: 20px;

  box-shadow: 10px 10px 20px #00000029;
  background: linear-gradient(180deg, #002a55, #00075e);
  color: #fff;
  align-self: center;
  border-radius: 10px;
}
#contact-card,
#top-card {
  margin-top: 30px;
  width: fit-content;
}
.all-info {
  color: #00075e;
  background: #fff;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px #f7f6f6;
  margin: 0 0;
  align-self: center;
  text-align: center;
  box-shadow: 10px 10px 20px #00000029;
  border-top-left-radius: 50% 2%;
  border-top-right-radius: 50% 2%;
  border-bottom-left-radius: 50% 2%;
  border-bottom-right-radius: 50% 2%;
}
.sub {
  z-index: 1111;
  flex-direction: column;
  margin: 5px 10px 10px 0;
  background: #fff;
  box-shadow: 10px 10px 20px #00000029;
  align-self: baseline;
}
.sub:hover {
  translate: 5px -5px;
}
.sub-content {
  width: 100%;
  padding: 4px;
  gap: 0;
  margin: 5px 0 5px 10px;
  text-align: left;
}
.blue-color {
  color: teal;
  font-weight: 700;
}
.gold-color {
  color: #00075e;
  font-weight: 700;
}
.project-type {
  text-align: center;
}
#contact-card {
  margin-bottom: 40px;
}
.experience-grid,
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: min(1000px, 90%);
}
@media (max-width: 800px) {
  .all-info {
    border-top-left-radius: 50% 1%;
    border-top-right-radius: 50% 1%;
    border-bottom-left-radius: 50% 1%;
    border-bottom-right-radius: 50% 1%;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (max-width: 1400px) {
  .sidenav {
    width: 100% !important;
    height: auto !important;
    z-index: 2000;
    text-align: center;
    padding: 0 10px 10px 0;
    margin: 0;
  }
  .sidenav a {

    display: inline !important;
    font-size: 0.9rem;
  }
  body {
    margin-top: 90px;
    font-size: 0.8rem;
  }
}
.card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(
      var(--bg) 0.0000001%,
      var(--grey) 0.000104%
    )
    60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}
.card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--contrast);
  border-radius: 30px;
  font-weight: 900;
  color: #00075e;
  text-align: center;
  font-family: monospace;
}
