body {
  background: linear-gradient(90deg,rgb(1, 21, 29) 0%, rgb(2, 7, 32) 50%, rgba(3, 30, 69, 1) 100%);
  color: gray;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: gray;
}

nav {
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
  padding: 20px;
  color: gray;
  border-bottom: 2px solid gray;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
}

.aside-header {
  font-weight: 600;
  font-size: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: calc(100% + 100vh);
  border-right: 2px solid gray;
}

aside > a {
  padding-left: 10px;
}

aside > a.active {
  border-left: 2px solid gray;
  padding-left: 8px;
}

main {
  padding: 20px;
}
article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.small-cards {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  gap: 20px;
}

@keyframes myAnimation {
  0%   {background:red;}
  25%  {background:yellow;}
  50%  {background:blue;}
  75%  {background:green;}
  100% {background:red;}
}

.small-card:hover {
  background:  #e66000;
  cursor: pointer;
  scale: 1.02;
}

.small-sub-cards {
  display: flex;
  gap: 20px;

}

.small-cards.active {
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity 0.5s ease-in-out;
} 

.small-card {
  color: black;
  background: linear-gradient(90deg, #CC5500, #CC5500);
  width: fit-content;
  border-radius: 10px;
  padding: 20px;
  
}
.small-card-footer > a,
.big-card-footer > ul > li > a {
  font-weight: 600;
  color: black;
}
.big-card {
  color: black;
  background: linear-gradient(90deg, #CC5500, #CC5500);
  width: fit-content;
  border-radius: 10px;
  padding: 20px;
}
.big-cards {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.big-cards.active {
  opacity: 1;
  visibility: visible;

}
ul {
  list-style: none;
  padding-left: 0;
  margin: 5px;
}
li {
  margin: 5px 0;
}

.articles {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.code-snippet {
  display: hidden;
}

#code-block {
  position: absolute;
  top: 830px;
  color: #d4d4d4;
}

.big-card-footer {
  border: 2px solid gray;
  border-radius: 10px;
  background:rgb(252, 179, 131);
  width: 20%;
  padding: 5px;
}
.sub-list,
.sub-list {
  display: none;
  background: rgb(252, 179, 131);
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}

.folder {
  color: blue !important;
}

.file {
  color: black;
}